/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/

#pokemon-card-1 {
    background: radial-gradient(green, rgb(118, 155, 118));
    border: 15px solid rgb(209, 193, 50);
}

#pokemon-card-2 {
    background: radial-gradient(green, rgb(118, 155, 118));
    border: 15px solid rgb(209, 193, 50);
}

#pokemon-card-3 {
    background: radial-gradient(red, rgb(184, 122, 6));
    border: 15px solid rgb(209, 193, 50);
}

#pokemon-card-4 {
    background-color: rgb(108, 196, 225);
    border: 15px solid rgb(209, 193, 50);
}
.card-style-3 {
    border-radius: 10px;
    min-width: 200px;
    max-width: 360px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.card-style-3 img {
    width: 100%;
    border: 5px solid #debb2e;
}

.card-style-3 .pokemon-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-style-3 .pokemon-header h2 {
    margin: 10px 0px 0px;
    font-size: 30px;
}

.pokemon-header .health i {
    font-size: 20px;
}

.pokemon-header .health {
    font-size: 20px;
}

.card-style-3 .details {
    background: radial-gradient(
        #ebeb32,
        #debb2e,
        #ebeb32
    );
    margin-top: 4px;
}

.card-style-3 .details {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.card-style-3 .attack {
    display: flex;
    align-items: center;
    padding: 12px;
    justify-content: space-between;
    border-bottom: 2px solid black;
    flex: 1;
    
}

.attack .description .bold {
    font-weight: bold;
    font-size: 16px;
}

.attack .power {
    font-weight: bold;
    font-size: 24px;
}

.attack .energy {
    padding-right: 10px;

}

.attack .description {
    flex: 1;
}

.card-style-3 .data {
    border: 2px solid #debb2e;
    font-weight: bold;
    font-size: 12px;
    padding: 8px;
    margin-top: 7px;
}