
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Gowun+Dodum&family=Meow+Script&family=Poiret+One&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Original+Surfer&family=Yatra+One&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

/* INDEX */

#layout-1 {
    max-width: 1000px;
    margin: 0 auto;
}

#navbar-1 {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: rgb(190, 227, 190);
    padding: 25px;
    border-bottom: 1px solid rgb(12, 150, 12);


}

#navbar-1 #logo-container-1 {
    font-family: "Ephesis", serif;
    font-size: 30px;
}

#navbar-1 #logo-container-1:hover {
    color: black;
    text-shadow: none;
}

#navbar-1 #hyperlinks a {
    padding-right: 30px;
}

#navbar-1 a {
    font-family: "Gowun Dodum", serif;
    color: black;
    text-decoration: none;
}

#navbar-1 a:hover {
    color: rgb(13, 83, 13);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.277)
}

/* CLIENT 2 */

#navbar-2 {
    background: linear-gradient(to bottom left, white, #92e5e5);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-2 #logo-container-2 {
    margin: 0px 50px 0px 30px;
}

#navbar-2 #logo-container-2:hover {
    text-decoration: none;
}

#logo-container-2 span#angel {
    font-family: "Sour Gummy", serif;
    font-size: 30px;
}

#logo-container-2 span#ear {
    font-family: "Meow Script", serif;
    font-size: 20px;
}
#navbar-2 a {
    text-decoration: none;
    color: #234851;
    font-family: "Poiret One", serif;
    font-weight: 800;
}

#navbar-2 a:hover {
    text-decoration: underline;
}

#navbar-2 .cta-button-2:hover {
    box-shadow: inset -4px -3px 5px -4px #b2d0dd;
    text-decoration: none;
}

#navbar-2 .cta-button-2 {
    margin: 0px 30px 0px 50px;
    border: 1px solid #5ba9bd;
    border-radius: 20px;
    padding: 10px;
    font-size: 18px;
}

/* CLIENT-3 */

#header #navbar-top {
    display: flex;
    background-color: black;
    justify-content: center;
    font-family: "Original Surfer", serif;
    gap: 20px;
}

#header #navbar-top h4 {
    color: white;
    margin: 10px 0px;
}

#header #navbar-middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 50px;
    background: linear-gradient(to left, white, #f3ac2994, white);

}

#header #navbar-middle #logo-container {
    font-family: "Henny Penny", serif;
    color: orange;
    font-size: 25px;
}

#header #navbar-middle #logo-container:hover {
    text-decoration: none;
}
#header #navbar-middle a {
    color: black;
    text-decoration: none;
    padding: 10px;
    font-family: "Yatra One", serif;
}

#header #navbar-middle a:hover {
    text-decoration: underline;
}

#header #navbar-middle .cta-button-3 {
    background-color: orange;
    padding: 15px;
    border-radius: 20px;
}

#header #navbar-middle .cta-button-3:hover {
    box-shadow: 2px 2px 10px #4e4c4c64;
    text-decoration: none;
}

#header #navbar-bottom {
    background-color: orange;
    display: flex;
    justify-content: space-evenly;
}

#header #navbar-bottom a:hover {
    text-decoration: underline;
}

#header #navbar-bottom a {
    color: #c58f2a;
    text-decoration: none;
    margin: 10px;
    color: black;
    font-family: "Original Surfer", serif;

}