* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#first-paragraph {
    color: blue;
    background-color: goldenrod;
    font-style: italic;
    text-align: right;
    font-family: cursive;
}

#second-paragraph {
    color: #FF0000;
    background-color: lightpink;
    font-size: 24px;
    text-decoration: underline;
}

#bold-paragraph {
    font-weight: bold;
    background-color: #228b22;
}

#span1 {
    color: yellowgreen;
    font-weight: bold;
    font-size: 48px;
}

#span2 {
    font-style: italic;
    text-decoration: line-through;
}
