* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#nav {
    display: block;
}

/* NAV-TOP */

#nav-top {
    background-color: #231F20;
    display: flex;
    justify-content: center;

}

#nav-top h4 {
    margin: 0px;
    color: white;
    padding: 10px;
}

#nav-top h4#margaritas {
    padding-left: 6px;
}

/* NAV-MIDDLE */

#nav-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CE2127;
    padding: 12px 16px ;
}

#nav-middle #logo-container img {
    width: 200px;
}

#nav-middle #logo-main-container {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px 0px;
}

#nav-middle #nav-middle-hyperlinks {
    display: flex;
    align-items: center;
    gap: 50px;
}

#nav-middle #nav-middle-hyperlinks a:hover {
    color: #FBB040;

}

#nav-middle #nav-middle-hyperlinks a {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 8px;
    transition: color 0.50s;
}

#nav-middle #logo-main-container a {
    color: black;
    text-decoration: none;
    display: inline-block;
}

#nav-middle #logo-main-container a#cta-button {
    display: inline-block;
    padding: 10px;
    background-color: white;
    border-radius: 18px;
    font-weight: bold;
    transition:
        box-shadow 0.25s,
        transform 0.25s;
}

#nav-middle #logo-main-container a#cta-button:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.414);
    transform: translateY(2px);
}

.dropdown-container-about-us {
    position: relative;
}

.dropdown-container-about-us .dropdown-about-us {
    z-index: 1;
    position: absolute;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition:    
        opacity 0.25s,
        visibility 0.25s;
}

.dropdown-container-about-us:hover .dropdown-about-us {
    opacity: 1;
    visibility: visible;
}

.dropdown-container-about-us .dropdown-about-us a {
    border-bottom: 1px solid #CE2127;
    width: 100%;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    transition: 
        box-shadow 0.50s,
        transform 0.25s;

}

.dropdown-container-about-us .dropdown-about-us a:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.558);
    transform: translateY(1px);
}

/* NAV BOTTOM */

#nav-bottom {
    background-color: #FBB040;
    padding: 5px;
    display: flex;
    justify-content: space-around
}

#nav-bottom a {
    color: black;
    text-decoration: none;
    transition: color 0.50s;
}

#nav-bottom a:hover {
    color: #CE2127
}

/* HERO CONTAINER */

#hero-container {
    background-image: url(../images/hero-1.webp);
    height: 60vh;
    background-size: cover;
    background-position: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-container #inner-hero-content {
    border: 4px solid #CE2127;
    padding: 30px;
    border-radius: 8px;
}

#inner-hero-content #cta-button-container {
    display: flex;
    gap: 30px;
    align-items: center;
}

#inner-hero-content #cta-button-container a {
    color: white;
    text-decoration: none;
    width: 100%;
    padding: 20px;
}

#inner-hero-content #cta-button-container a#cta-button-hero-order {
    background-color: #CE2127;
}

#inner-hero-content #cta-button-container a#cta-button-hero-reserve {
    background-color: #CE2127;
}

#outer-hero-content {
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: #fbb040d8;
    border-radius: 8px;
    padding: 20px;
    border: 5px ridge rgb(246, 242, 242);
}

#hero-container #outer-hero-content #cta-button-hero {
    display: inline-block;
    padding: 10px;
    border-radius: 18px;
    color: white;
    background-color: #CE2127;
    text-decoration: none;
    font-size: 13px;
    transition: 
        box-shadow 0.25s,
        transform 0.25s;
}

#hero-container #outer-hero-content a#cta-button-hero-order:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.348);
    transform: translateX(5px);
}

#hero-container #outer-hero-content a#cta-button-hero-reserve:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.348);
    transform: translateX(5px);
}

#footer {
    background-color: #CE2127;
    padding: 40px;
    display: flex;
    justify-content: center;
}

#footer a {
    color: black;
    text-decoration: none;
    text-align: center;
}