* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#nav {
    display: block;
}

/* NAV-TOP */

#nav-top {
    background-color: #231F20;
    display: flex;
    justify-content: center;
}

#nav-top h4 {
    margin: 0px;
    color: white;
    padding: 10px;
}

#nav-top h4#margaritas {
    padding-left: 6px;
}

/* NAV-MIDDLE */

#nav-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CE2127;
    padding: 12px 16px ;
}

#nav-middle #logo-container img {
    width: 200px;
}

#nav-middle #logo-main-container {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px 0px;
}

#nav-middle #nav-middle-hyperlinks {
    display: flex;
    align-items: center;
    gap: 80px;
}

#nav-middle #nav-middle-hyperlinks a:hover {
    color: #FBB040;

}

#nav-middle #nav-middle-hyperlinks a {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 8px;
    transition: color 0.50s;
}

#nav-middle #top #cta-button-middle-nav #cta-button {
    color: black;
    text-decoration: none;
    display: inline-block;
    background-color: #FBB040;
    padding: 10px;
    border-radius: 18px;
}

#nav-middle #top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#top #empty-container {
    flex: 1;
}

#nav-middle #top #cta-button-middle-nav {
    margin-right: 15px;
    flex: 1;
    text-align: right;
}

#nav-middle #top #cta-button-middle-nav a i {
    color: #FBB040;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.449);
    font-size: 20px;
    display: inline-block;
    margin-left: 10px;
    transition: transform 0.25s;
}

#nav-middle #top #cta-button-middle-nav a i:hover {
    color: #FBB040;
    transform: translateY(2px);
    font-size: 20px;
    display: inline-block;
    margin-left: 10px;
}

#nav-middle #logo-main-container a#cta-button {
    display: inline-block;
    padding: 10px;
    background-color: white;
    border-radius: 18px;
    font-weight: bold;
    transition:
        box-shadow 0.25s,
        transform 0.25s;
}

#nav-middle #top a#cta-button:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.414);
    transform: translateY(2px);
}

.dropdown-container-about-us {
    position: relative;
}

.dropdown-container-about-us .dropdown-about-us {
    z-index: 1;
    position: absolute;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition:    
        opacity 0.25s,
        visibility 0.25s;
}

.dropdown-container-about-us:hover .dropdown-about-us {
    opacity: 1;
    visibility: visible;
}

.dropdown-container-about-us .dropdown-about-us a {
    border-bottom: 1px solid #CE2127;
    width: 100%;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    transition: 
        box-shadow 0.50s,
        transform 0.25s;

}

.dropdown-container-about-us .dropdown-about-us a:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.558);
    transform: translateY(1px);
}

/* NAV BOTTOM */

#nav-bottom {
    background-color: #FBB040;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

#nav-bottom a {
    color: black;
    text-decoration: none;
    transition: color 0.50s;
}

#nav-bottom a:hover {
    color: #CE2127;
}

/* HERO CONTAINER */

#hero-container {
    background-image: url(../images/hero-1.webp);
    height: 60vh;
    background-size: cover;
    background-position: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-container #inner-hero-content {
    border: 4px solid #CE2127;
    padding: 30px;
    border-radius: 8px;
}

#hero-container #inner-hero-content h1 {
    font-size: 45px;
}

#inner-hero-content #cta-button-container {
    display: flex;
    gap: 30px;
    align-items: center;
}

#inner-hero-content #cta-button-container a {
    color: white;
    text-decoration: none;
    width: 100%;
    padding: 20px;
    border-radius: 18px;
}

#inner-hero-content #cta-button-container a#cta-button-hero-order {
    background-color: #CE2127;
}

#inner-hero-content #cta-button-container a#cta-button-hero-reserve {
    background-color: #CE2127;
}

#outer-hero-content {
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: #fbb040d8;
    border-radius: 8px;
    padding: 20px;
    border: 5px ridge rgb(246, 242, 242);
}

#hero-container #outer-hero-content #cta-button-hero {
    display: inline-block;
    padding: 10px;
    border-radius: 18px;
    color: white;
    background-color: #CE2127;
    text-decoration: none;
    font-size: 13px;
    transition: 
        box-shadow 0.25s,
        transform 0.25s;
}

#hero-container #outer-hero-content a#cta-button-hero-order:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.348);
    transform: translateX(5px);
}

#hero-container #outer-hero-content a#cta-button-hero-reserve:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.348);
    transform: translateX(5px);
}

/* SIDE BY SIDE CONTENT HOME PAGE */

.single-column {
    max-width: 1200px;
    margin: 0px auto;
}

#main-section {
    padding: 58px;
    background: linear-gradient(to top, #f9c87d, #f7b24b, #FBB040);
}

.side-by-side .image-container img {
    width: 700px;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
}

.side-by-side {
    display: flex;
    align-items: center;
    margin: 48px 0px;
}

.side-by-side .image-container {
    flex: 1;
}

.side-by-side .text-container {
    flex: 1;
    padding: 56px;
}

.side-by-side .text-container h3 {
    font-size: 48px;
}

.side-by-side .text-container a {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    background-color: #CE2127;
    color: white;
    padding: 10px;
    border-radius: 18px;
    width: 100%;
    text-align: center;
    transition: 
        box-shadow 0.25s,
        transform 0.25s;
}

.side-by-side .text-container a:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.386);
    transform: translateY(4px);
}

/* FOOTER */

#footer {
    background-color: #CE2127;
    padding: 40px;
    display: flex;
    justify-content: center;
}

#footer a {
    color: black;
    text-decoration: none;
    text-align: center;
}

/* FEATURE DISH */

#menu-container .title {
    padding: 50px;
}

#menu-container .title h1 {
    font-size: 50px;
    text-align: center;
}

#main-section-menu {
    padding: 58px;
    background-image: url(../images/veteran-day.jpg);
    background-size: cover;
}

#main-section-menu .single-column {
    background-color: rgba(249, 239, 239, 0.949);
    padding: 20px 40px 20px 45px;
    border-radius: 18px;
}

#main-section-menu .text-container h3 {
    font-size: 18px;
}

#main-section-menu .text-container {
    text-align: center;
    padding-right: 20px;
    border-radius: 18px;
}

#main-section-menu .text-container h1 {
    border-bottom: 1px solid black;
}

#main-section-menu .text-container p span {
    text-decoration: line-through;
}

#main-section-menu .text-container p#discount-length {
    font-size: 12px;
    color: #333333;
}

/* MENU ITEMS */

/* APPETIZERS */

#menu-items-container {
    margin-top: 50px;
}

#appetizers-container h2 {
    font-size: 35px;
    text-align: center;
    padding: 50px;
}

#appetizers-container {
    max-width: 1500px;
    margin: 48px auto;
}

#appetizers-container .basic-grid-gallery-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

#appetizers-container .basic-grid-gallery-menu .card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 18px;
}

#appetizers-container .basic-grid-gallery-menu .card p.card-paragraph {
    height: 80px;
}

#appetizers-container .basic-grid-gallery-menu .card {
    border: 2px solid #CE2127;
    padding: 15px;
    border-radius: 18px;
}

#appetizers-container .basic-grid-gallery-menu .card a {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    background-color: #CE2127;
    color: white;
    padding: 10px;
    border-radius: 18px;
    width: 100%;
    text-align: center;
    transition: 
        box-shadow 0.25s,
        transform 0.25s;
}

#appetizers-container .basic-grid-gallery-menu .card a:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.386);
    transform: translateY(4px);
}

#appetizers-container .basic-grid-gallery-menu .title-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#appetizers-container .basic-grid-gallery-menu .title-price p {
    font-size: 14px;
}

/* ENTREES */

#entrees-container h2 {
    font-size: 35px;
    text-align: center;
    padding: 50px;
}

#entrees-container {
    max-width: 1500px;
    margin: 48px auto;
}

#entrees-container .basic-grid-gallery-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

#entrees-container .basic-grid-gallery-menu .card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 18px;
}

#entrees-container .basic-grid-gallery-menu .card {
    border: 2px solid #CE2127;
    padding: 15px;
    border-radius: 18px;
}

#entrees-container .basic-grid-gallery-menu .card a {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    background-color: #CE2127;
    color: white;
    padding: 10px;
    border-radius: 18px;
    width: 100%;
    text-align: center;
    transition: 
        box-shadow 0.25s,
        transform 0.25s;
}

#entrees-container .basic-grid-gallery-menu .card a:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.386);
    transform: translateY(4px);
}

#entrees-container .basic-grid-gallery-menu .title-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#entrees-container .basic-grid-gallery-menu .title-price p {
    font-size: 14px;
}

#entrees-container .basic-grid-gallery-menu .card p.card-paragraph {
    height: 80px;
}

/* DESSERTS */

#desserts-container {
    max-width: 1500px;
    margin: 48px auto;
}

#desserts-container h2 {
    font-size: 35px;
    text-align: center;
    padding: 50px;
}

#desserts-container .basic-grid-gallery-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

#desserts-container .basic-grid-gallery-menu .card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 18px;
}

#desserts-container .basic-grid-gallery-menu .card {
    border: 2px solid #CE2127;
    padding: 15px;
    border-radius: 18px;
}

#desserts-container .basic-grid-gallery-menu .card a {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    background-color: #CE2127;
    color: white;
    padding: 10px;
    border-radius: 18px;
    width: 100%;
    text-align: center;
    transition: 
        box-shadow 0.25s,
        transform 0.25s;
}

#desserts-container .basic-grid-gallery-menu .card a:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.386);
    transform: translateY(4px);
}

#desserts-container .basic-grid-gallery-menu .title-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#desserts-container .basic-grid-gallery-menu .title-price p {
    font-size: 14px;
}

#desserts-container .basic-grid-gallery-menu .card p.card-paragraph {
    height: 80px;
}

@media screen and (max-width: 1056px) {
    body {
        background-color: rgb(158, 158, 221);
    }
    #nav-top {
        background-color: #231F20;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #nav-middle #top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    #nav-middle #top #cta-button-middle-nav {
        margin-right: 0px;
        margin-bottom: 15px;
        flex: 1;
        text-align: right;
    }

    #nav-middle #nav-middle-hyperlinks {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .dropdown-container-about-us {
        position: static;
        text-align: center;
        width: 100%;
    }

    .dropdown-container-about-us i {
        display: none;
    }
    
    .dropdown-container-about-us .dropdown-about-us {
        z-index: none;
        position: static;
        border-radius: 0px;
        opacity: 1;
        visibility: visible;
        transition: none;
        text-align: center;
    }
    
    .dropdown-container-about-us:hover .dropdown-about-us {
        opacity: 1;
        visibility: visible;

    }

    .dropdown-container-about-us .dropdown-about-us a {
        border-bottom: 1px solid #ebb4b6;
        width: 100%;
        padding: 10px;
        background-color: none;
        border-radius: 0px;
        display: block;
        transition: none;
        background-color: #CE2127;
        font-size: 12px;

    }
    
    .dropdown-container-about-us .dropdown-about-us a:hover {
        box-shadow: none;
        transform: none;
        border-bottom: 1px solid #FBB040;
    }

    /* HERO */

    #hero-container #inner-hero-content h1 {
        font-size: 32px;
    }

    /* #inner-hero-content #cta-button-container #cta-button-hero-order,
    #inner-hero-content #cta-button-container #cta-button-hero-reserve, {
        gap: 30px;
        font-size: 20px;
    } */

    #inner-hero-content #cta-button-container {
        display: flex;
        gap: 18px;
        align-items: center;
    }
    
    #inner-hero-content #cta-button-container a {
        padding: 15px;
        font-size: 15px;
    }

    /* SIDE BY SIDE CONTENT */

    .side-by-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 0px;
    }

    .side-by-side .image-container {
        order: 1;
    }

    .side-by-side .text-container {
        order: 2;
    }

    .side-by-side .text-container h3 {
        margin-top: 0px;
    }

    .side-by-side .image-container img {
        width: 400px;
        height: 400px;
    }

}