* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

/* Rustic Fashion Palette */

#palette-color-heading-1 {
    color: red;
    background-color: white;
    text-align: center;
    font-family: serif;
}

/* Peach color */

#palette-color-hue1 {
    background-color: #f1bf98;
    color: black;
    text-align: center;
    padding: 24px;
    font-family: 'Courier New', Courier, monospace;
}

/* Nyanza color */

#palette-color-hue2 {
    background-color: #E1F4CB;
    color: black;
    padding: 24px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

/* Sage color */

#palette-color-hue3 {
    background-color: #BACBA9;
    color: black;
    padding: 24px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
/* Dim color */

#palette-color-hue4 {
    background-color: #717568;
    padding: 24px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#palette-code-dimray,
#palette-text-dimray {
    color: white;
}

/* Cream Cake Color Palellet */

#palette-color-heading-2 {
    color: #383e98;
    text-align: center;
    font-family: monospace;
}

/* Vivid Sky Blue Color*/

#palette-color-vivid- {
    background-color: #23C9FF;
    color: darkblue;
    padding: 24px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Maya Color*/

#palette-color-maya {
    background-color: #7CC6FE;
    color: #191956;
    padding: 24px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Periwinkle Color*/

#palette-color-p- {
    background-color: #CCD5FF;
    color: #8e4853;
    padding: 24px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

/* Vivid Sky Blue Color*/

#palette-color-pink- {
    background-color: #E7BBE3;
    color: #6e1e2b;
    padding: 24px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Artistic Vibe Color Palellet */

#palette-color-heading-3 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0a2414;
}

#palette-color-pen- {
    text-align: center;
    background-color: #0A1045;
    color: #ab9cce;
    padding: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#palette-color-aureolin {
    text-align: center;
    color: #42420b;
    background-color: #F9E900;
    padding: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#palette-color-brown- {
    padding: 24px;
    background-color: #F6AF65;
    color: #300c0ca6;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#palette-color-cpink- {
    background-color: #ED33B9;
    color: #370717;
    text-align: center;
    padding: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}