* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #151414;
}

#grid-layout {
    display: grid;
    grid-template-columns: 1fr 250px 700px 1fr;
    grid-template-areas: 
        ". header header ."
        ". sidebar main .";
}

#header {
    grid-area: header;
    padding: 0px 36px;
}

#sidebar {
    grid-area: sidebar;
    padding: 0px 24px;

}

#main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    padding: 25px 0px;
    justify-content: center;
    border-radius: 20px;
}

#header a {
    text-decoration: none;
}

#header #me {
    color: white;
    padding-right: 4px;
}

#header #tube {
    background-color: red;
    color: white;
    padding: 4px;
    border-radius: 12px;
}

#sidebar ul {
    padding: 12px 0px;
    margin: 0px;
    list-style-type: none;
    border-bottom: 1px solid #AAAAAA;
}

#sidebar ul a {
    text-decoration: none;
    color: #d6d3d3;
    display: block;
    padding: 12px;
}

#sidebar ul a i {
    margin-right: 8px;
}
#sidebar ul a:hover {
    background-color: white;
    border-radius: 12px;
    color: black;

}

.metube-item {
    width: 250px;
    margin-right: 12px;
    margin-bottom: 24px;
    padding-right: 20px;
}

.metube-item .thumbnail-placeholder {
    /* aspect-ratio: 16 / 9; */
    border-radius: 50%;
}

.thumbnail-placeholder img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.metube-item h4 {
    margin: 8px;
}

.metube-item h4 a {
    text-decoration: none;
    color: #111111;
    display: block;
}

.metube-item h4 a:hover {
    text-decoration: underline;
}

.metube-item .videos-details {
    margin: 8px;
    font-size: 14px;
}

.metube-item .video-channel {
    margin-bottom: 4px;
}

.videos-details {
    color: #a7a6a6;
}

.metube-item h4 a {
    color: white;
}