* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

/* index.htlm */

#hero-1 {
    background-image: url(../images/shark.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}

#hero-content {
    position: absolute;
    top: 20%;
    right: 20%;
}

#hero-content h2 {
    color: white;
    font-size: 80px;
    margin-bottom: 40px;
}

#hero-content h4 {
    color: white;
    font-size: 50px;
}

#hero-content a {
    display: inline-block;
    min-width: 100px;
    text-align: center;
    text-decoration: none;
    color: #1f1616;
    font-size: 20px;
    background-color: white;
    padding: 15px;
    margin-right: 20px;
}

/* hero-2 */

#hero-2 {
    background-image: url(../images/tiger.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

#hero-content-2  {
    position: absolute;
    left: 20%;
    top: 30%;
    width: 400px;
}

#hero-content-2 #title-center h2 {
    color: rgb(188, 126, 40);
    font-size: 80px;
    text-align: center;
    margin-bottom: 0px;
}

#hero-content-2 h4 {
    color: white;
    font-style: italic;
    font-size: 35px;
    max-width: 800px;
    text-align: center;
}

#hero-content-2 a {
    color: rgb(109, 85, 6);
    display: inline-block;
    text-decoration: none;
    background-color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}

#hero-content-2 #anchor-center {
    text-align: center;
}

/* hero-3 */

#hero-3 {
    background-image: url(../images/dogs.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#hero-content-3 {
    position: absolute;
    left: 40%;
    top: 10%;
    text-align: center;
}

#hero-content-3 h2 {
    font-size: 80px;
    color: rgb(3, 32, 3);
    margin-bottom: 0px;
}

#hero-content-3 h4 {
    font-size: 50px;
    color: rgb(193, 215, 193);
    margin-top: 15px;
    margin-bottom: 20px;
}

#hero-content-3 a {
    display: inline-block;
    text-decoration: none;
    color: rgb(16, 42, 16);
    background-color: rgb(234, 199, 133);
    padding: 10px;
    border-radius: 15px;
    font-size: 20px;
}