* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: white;
}

#grid-layout {
    display: grid;
    grid-template-columns: 1fr 100px 900px 500px 1fr;
    grid-template-areas: 
        ". header       header    header ."
        ". exhibition   main      description .";
}

#header {
    grid-area: header;
    padding: 0px 10px;
}

#exhibition {
    grid-area: exhibition;
    padding: 0px 10px;
}

#main-exhibition {
    grid-area: main;
    margin: 0px 20px 0px;
}

#description-exhibition {
    grid-area: description;
    margin: 0px 10px;
}

#description-exhibition .seller-container {
    border-bottom: 1px solid #a89a9a;
}

#header p span#m {
    color: purple;
}

#header p span#e {
    color: red;
}

#header p span#b {
    color: blue;
}

#header p span#a {
    color: rgb(207, 207, 80);
}

#header p span#y {
    color: green;
}

#header p {
    font-weight: bold;
    font-size: 22px;
    border-bottom: 1px solid #a89a9a;
    text-align: center;
    padding-bottom: 8px;
}

#exhibition .image-frame img {
    width: 100%;
    padding: 10px 5px;
    background-color: #cacac841;
    border-radius: 10px;
}

#exhibition .image-frame img#image-with-border {
    border: 1px solid rgb(30, 23, 23);
    border-radius: 10px;
}

#main-exhibition #main-image-frame img {
    width: 100%;
    display: block;
}

#main-exhibition #main-image-frame {
    background-color: #cacac841;
    padding: 0px 18px;
    border-radius: 10px;
}

#description-exhibition .seller.container {
    border-bottom: 1px solid #111111;
}

#flex {
    display: flex;
    align-items: center;
    padding: 8px;
}

#flex img {
    width: 100%;
    border-radius: 50%;
}

.seller-container #seller-img-frame {
    width: 70px;
}

.seller-items {
    margin-left: 8px;
}

.seller-items a {
    text-decoration: none;
}
.seller-items #seller-name a#one {
    font-weight: bold;
    color: #111111;
}

.seller-items #seller-name a#two {
    color: #565656;
}

#seller-feedback a {
    color: #111111;
    text-decoration: underline;
    padding: 4px 10px 0px 0px;
    display: inline-block;
}

.seller-container #before-price span#three {
    color: #565656;
}

.seller-container #before-price span#forth {
    color: rgb(111, 31, 31);
}

.seller-container #before-price a {
    color: #565656;
}

.seller-container #paypal-credit a {
    color: #111111;
}

#description-exhibition .seller-container h1 {
    margin-top: 0px;
}

#seller-condition p span {
    font-weight: bold;
}

#seller-condition p a i {
    color: #111111;
}

#quantity-item {
    display: flex;
    align-items: center;
}

#quantity-item  #quantity-description {
    border: 1px solid #65655941;
    padding: 10px 35px 10px 5px;
    border-radius: 10px;
    background-color: #cacac841;
    color: #a89a9a;
    margin: 0px 10px;
}

#quantity-item  div#quantity-description span#five {
    color: #111111;
}

#quantity-item span#six {
    color: #565656;
}

.buttons {
    border: 1px solid rgb(1, 1, 182);
    text-align: center;
    border-radius: 50px;
    padding: 15px;
    margin: 10px 2px 2px 2px;
}

.buttons:hover {
    background-color: blue;
    color: white;
}

#button-blue {
    margin-top: 20px;
}
#review-statists {
    background-color: #cacac841;
    border-radius: 10px;
    padding: 8px;
    margin: 20px 0px;
}

.people-opinion .eight {
    font-weight: bold;
}

.people-opinion p i {
    padding: 0px 4px 0px;
}