* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    margin: 0px 20px 10px 20px;
    border-bottom: 1px solid black;
}

.navbar .navbar-selection a {
    color: black;
    text-decoration: none;
    margin-right: 80px;

}
.navbar a img {
    width: 60px;
}

.navbar .cta-buttom {
    text-decoration: none;
    color: white;
    background-color: rgb(192, 103, 192);
    padding: 15px;
    border-radius: 20px;
}

#layout {
    display: flex;
    justify-content: center;
    margin: 0px auto;
    max-width: 1200px;
    gap: 30px;
}

#general-info-column {
    margin: 0px auto;
    flex: 1;
    order: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact-column {
    flex: 2;
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 20px;
}

form {
    padding: 26px
}

label {
    margin: 20px 0px;
}
