* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

/* NAVBAR */

#navbar {
    position: sticky;
}

/* TOP */

#navbar #top {
    text-align: center;
    background-color: #b0bee1;
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar #top #nav-top-content a {
    display: inline-block;
    color: white;
    background-color: #b0bee1;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px;
}

#navbar #top .icons i {
    color: #8994ae;
}

#navbar #top .icons {
    display: flex;
    gap: 25px;
    align-items: center;
}

#navbar #top h4 {
    margin: 0px;
}

/* MIDDLE */

#navbar #middle {
    text-align: center;
}

#navbar #navbar-selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

#navbar a img {
    width: 90px;
}

#navbar #middle #navbar-selection a {
    color: black;
    text-decoration: none;
    margin-top: 10px;
}

/* BOTTOM */

#navbar #bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
    gap: 10px;
    border-top: 1px solid #b0bee1;
    border-bottom: 1px solid #b0bee1;
    padding: 10px;
}

#navbar #bottom h5,
#navbar #bottom p {
    margin: 0px;
}

#navbar #bottom a {
    color: white;
    background-color: #b0bee1;
    display: inline-block;
    text-decoration: none;
    padding: 5px;
}

/* HOME */

#hero {
    background-image: url(../images/hero-1.webp);
    height: 55vh;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero #hero-content a {
    color: white;
    display: display;
    text-decoration: none;
    background-color: #b0bee1;
    padding: 10px;
    border: 1px solid white;
}

#hero #hero-content {
    text-align: center;
}

/* CONTACT US */

#layout {
    display: flex;
    justify-content: center;
    margin: 0px auto;
    max-width: 1000px;
}

#contact-column header {
    text-align: center;
}

#contact-column header #logo-container-contact-us {
    width: 80px;
}

#logo-container-contact-us {
    margin-top: 15px;
}

 #contact-column header img {
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header p {
    margin-top: 0px;
}

 header p#txt1 {
    margin-bottom: 0px;
 }

header h1 {
    margin-bottom: 20px;
}

form {
    background-color: white;
    padding: 30px;
    border: 2px solid #CCCCCC;
    border-radius: 2px;
}

form div label {
    display: inline-block;
    margin-bottom: 8px;
    font-weight: bold;
}

input,
select,
textarea {
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #CCCCCC;
    margin-bottom: 16px;
}

textarea {
    font-family: sans-serif;
}

input[type=submit] {
    width: auto;
    background-color: #0e6de1;
    color: white;
    border: 0;
    border-radius: 3px;
    min-width: 75px;
}

input:not(:focus):not(:placeholder-shown):invalid {
    background-color: lightcoral;
    border: 2px solid red;
}

