* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

/* NAVBAR */

#navbar {
    position: sticky;
}

/* TOP */

#navbar #top {
    text-align: center;
    background-color: #b0bee1;
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar #top #nav-top-content a {
    display: inline-block;
    color: white;
    background-color: #b0bee1;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px;
}

#navbar #top .icons i {
    color: #8994ae;
}

#navbar #top .icons {
    display: flex;
    gap: 25px;
    align-items: center;
}

#navbar #top h4 {
    margin: 0px;
}

/* MIDDLE */

#navbar #middle {
    text-align: center;
}

#navbar #navbar-selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

#navbar a img {
    width: 120px;
}

#navbar #middle #navbar-selection a {
    color: black;
    text-decoration: none;
    margin-top: 10px;
}

/* BOTTOM */

#navbar #bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
    gap: 10px;
    border-top: 1px solid #b0bee1;
    border-bottom: 1px solid #b0bee1;
    padding: 10px;
}

#navbar #bottom h5,
#navbar #bottom p {
    margin: 0px;
}

#navbar #bottom a {
    color: white;
    background-color: #b0bee1;
    display: inline-block;
    text-decoration: none;
    padding: 5px;
}

/* HOME */

#hero {
    background-image: url(../images/hero-1.webp);
    height: 55vh;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero #hero-content a {
    color: white;
    display: display;
    text-decoration: none;
    background-color: #b0bee1;
    padding: 10px;
    border: 1px solid white;
}

#hero #hero-content {
    text-align: center;
}

/* CONTACT US */

#layout {
    display: flex;
    justify-content: center;
    margin: 0px auto;
    max-width: 1000px;
}

#contact-column header {
    text-align: center;
}

#contact-column header #logo-container-contact-us {
    width: 80px;
}

#logo-container-contact-us {
    margin-top: 15px;
}

 #contact-column header img {
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header p {
    margin-top: 0px;
}

 header p#txt1 {
    margin-bottom: 0px;
 }

header h1 {
    margin-bottom: 20px;
}

form {
    background-color: white;
    padding: 30px;
    border: 2px solid #CCCCCC;
    border-radius: 2px;
}

form div label {
    display: inline-block;
    margin-bottom: 8px;
    font-weight: bold;
}

input,
select,
textarea {
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #CCCCCC;
    margin-bottom: 16px;
}

textarea {
    font-family: sans-serif;
}

input[type=submit] {
    width: auto;
    background-color: #0e6de1;
    color: white;
    border: 0;
    border-radius: 3px;
    min-width: 75px;
}

input:not(:focus):not(:placeholder-shown):invalid {
    background-color: lightcoral;
    border: 2px solid red;
}

/* PROCDURE STEPS  */

#consultation-steps {
    background: linear-gradient(#bfc8e0, #a5b2d4, #8fa5dc);
    padding: 48px;
    color: white;

}

#consultation-steps #title {
    text-align: center;
}

#consultation-steps #title h2 {
    margin-bottom: 5px;
}

#consultation-steps #title h3 {
    margin-top: 0px;
}

.single-column {
    min-width: 600px;
    max-width: 1500px;
    margin: 0px auto;
}

.step-card-container {
    display: flex;
}

.step-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #6e80ab;
    /* background-color: white; */
    text-align: center;
    margin: 36px;
}

.step-card h4 {
    background-color: #6e80ab;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 0px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.step-card p.small-text {
    font-size: 12px;
}

.step-card .paragrapgh {
    flex: 1;
    margin: 15px;
    height: 150px;
}

.step-card h3 {
    font-size: 32px;
    margin: 15px;
    height: 90px;
    text-align: center;
}

.card p {
    font-size: 24px;
    margin: 24px 0px 0px;
}

.step-card #small-text-container {
    background-color: #6e80ab;
    margin: 0px;
    width: 100%;
    height: 40px;
}

/* INTRODUCTION SIDE BY SIDE */

#introduction-side-by-side {
    background-color: white;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.371);
}

#introduction-side-by-side #image-container img {
    width: 550px;
    height: 800px;
    object-fit: cover;
    padding: 20px 0px;
}

#layout-1 {
    background-color: #bfc8e0;
}

#introduction-single-column {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding: 40px;
}

#introduction-single-column #text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 50px 20px 20px;
    text-align: center;
}

#introduction-single-column #image-container {
    flex: 1;
}

#introduction-side-by-side {
    display: flex;
}

#layout-1 #text-container a {
    display: inline-block;
    color: white;
    background-color: #b0bee1;
    text-decoration: none;
    padding: 10px;
}

/* SERVICES-SECTIONS */

#services-section .title {
    text-align: left;
    margin-left: 30px;
    font-size: 18px;
}

#services-section .services-card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

#services-section .service-single-column {
    width: 1900px;
    margin: 0px auto;
    padding: 0px 20px;
}

#services-section .service-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#services-section .services-card {
    padding: 0px 4px;
}


/* FOOTER */

footer {
    background-color: white;
    padding: 20px;
}

#footer-top #logo-footer-container img {
    width: 100px;
}

#footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #6e80ab;
}

#footer-top .icons i {
    color: #8994ae;  
    font-size: 18px;
}

#footer-top .icons a {
    display: inline-block;
    margin: 5px 8px 15px 0px;  
}

#footer-bottom {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

#footer-bottom .card-flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#footer-bottom .card-flex a {
    color: black;
    text-decoration: none;
}

#footer-bottom .card-footer h4 {
    margin: 30px 0px 20px 0px;
}

#footer-bottom .card-footer p.bottom-space {
    margin-top: 10px;
    font-weight: 200;
}

#footer-bottom .card-footer p {
    margin: 0px;
}
