* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

/* NAVBAR */

#navbar {
    position: sticky;
}

/* TOP */

#navbar #top {
    text-align: center;
    background-color: #b0bee1;
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar #top #nav-top-content a {
    display: inline-block;
    color: white;
    background-color: #6e80ab;
    text-decoration: none;
    padding: 5px;
    transition: box-shadow 0.35s,
                transform 0.35s;
}

#navbar #top #nav-top-content a:hover {
    box-shadow: 1px 1px 12px #00000043;
    transform: translateY(1px);
}

#navbar #top .icons i {
    color: #6e80ab;
}

#navbar #top .icons {
    display: flex;
    gap: 25px;
    align-items: center;
}

#navbar #top h4 {
    margin: 0px;
}

/* MIDDLE */

#navbar #middle {
    text-align: center;
}

#navbar #navbar-selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

#navbar a img {
    width: 170px;
    margin: 10px;
}

#navbar #middle #navbar-selection a {
    color: black;
    text-decoration: none;
    margin-top: 10px;
}

#navbar #middle #navbar-selection a:hover {
    text-decoration: underline;
    color: #6e80ab;
}

/* BOTTOM */

#navbar #bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
    gap: 10px;
    border-top: 1px solid #b0bee1;
    border-bottom: 1px solid #b0bee1;
    padding: 10px;
}

#navbar #bottom h5,
#navbar #bottom p {
    margin: 0px;
}

#navbar #bottom a {
    color: white;
    background-color: #6e80ab;
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    transition: box-shadow 0.35s,
                transform 035s;
}

#navbar #bottom a:hover {
    box-shadow: 1px 1px 12px #00000043;
    transform: translateY(1px)
}

/* HERO */

#hero {
    background-image: url(../images/heroindex.jpg);
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

#hero #hero-content a {
    color: white;
    display: display;
    text-decoration: none;
    background-color: #6e80ab;
    padding: 10px;
    border: 1px solid white;
    transition: box-shadow 0.35s,
                transform 0.35s;
}

#hero #hero-content a:hover {
    box-shadow: 1px 1px 12px #00000043;
    transform: translateY(1px);
}

#hero #hero-content {
    text-align: center;
}

/* CONTACT US */

#layout {
    display: flex;
    justify-content: center;
    margin: 0px auto 50px auto;
    max-width: 2000px;
}

#contact-column header {
    text-align: center;
}

#contact-column header #logo-container-contact-us {
    width: 80px;
}

#logo-container-contact-us {
    margin-top: 15px;
}

 #contact-column header img {
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header p {
    margin-top: 0px;
}

 header p#txt1 {
    margin-bottom: 0px;
 }

header h1 {
    margin-bottom: 20px;
}

form {
    background-color: white;
    padding: 30px;
    border: 2px solid #CCCCCC;
    border-radius: 2px;
}

form div label {
    display: inline-block;
    margin-bottom: 8px;
    font-weight: bold;
}

input,
select,
textarea {
    padding: 12px;
    width: 100% !important;
    box-sizing: border-box;
    border: 1px solid #CCCCCC;
    margin-bottom: 16px;
}

textarea {
    font-family: sans-serif;
}

input[type=submit] {
    width: auto;
    background-color: #6e80ab;
    color: white;
    border: 0;
    border-radius: 3px;
    min-width: 75px;
}

input:not(:focus):not(:placeholder-shown):invalid {
    background-color: lightcoral;
    border: 2px solid red;
}

/* PROCDURE STEPS  */

#consultation-steps {
    background: linear-gradient(#bfc8e0, #a5b2d4, #8fa5dc);
    padding: 48px;
    color: white;
    margin: 10px 0px;
}

#consultation-steps #title {
    text-align: center;
}

#consultation-steps #title h2 {
    margin-bottom: 5px;
    font-size: 32px;
}

#consultation-steps #title h3 {
    margin-top: 0px;
    font-size: 20px;
}

.single-column {
    min-width: 600px;
    max-width: 1500px;
    margin: 0px auto;
}

.step-card-container {
    display: flex;
}

.step-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #6e80ab;
    background-color: white;
    text-align: center;
    margin: 36px;
    color: black;
}

.step-card h4 {
    background-color: #6e80ab;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 0px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.step-card p.small-text {
    font-size: 12px;
}

.step-card .paragrapgh {
    flex: 1;
    margin: 15px;
    height: 150px;
}

.step-card h3 {
    font-size: 32px;
    margin: 15px;
    height: 90px;
    text-align: center;
}

.card p {
    font-size: 24px;
    margin: 24px 0px 0px;
}

.step-card #small-text-container {
    background-color: #6e80ab;
    margin: 0px;
    width: 100%;
    height: 40px;
}

/* LAY OUT 1 INTRODUCTION SIDE BY SIDE */

#introduction-side-by-side {
    background-color: white;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.371);
    border: 1px outset #6e80ab;
}

#introduction-side-by-side #image-container img {
    width: 550px;
    height: 600px;
    object-fit: cover;
    object-position: 100%;
    padding: 20px 20px;
}

#layout-1 {
    background-color: #bfc8e0;
}

#introduction-single-column {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding: 40px;
}

#introduction-single-column #text-container {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    text-align: center;
    margin-top: 50px;
}

#introduction-single-column #text-container h3 {
    font-size: 30px;
}

#introduction-single-column #image-container {
    flex: 1;
}

#introduction-side-by-side {
    display: flex;
}

#layout-1 #text-container a {
    display: inline-block;
    color: white;
    background-color: #6e80ab;
    text-decoration: none;
    padding: 10px;
    transition: box-shadow 0.35s,
                transform 0.35s;
}

#layout-1 #text-container a:hover {
    box-shadow: 1px 1px 12px #00000043;
    transform: translateY(1px);
}

/* SERVICES-SECTIONS */

#services-section .title {
    text-align: center;
    font-size: 17px;
}

#services-section .services-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#services-section .service-single-column {
    width: 1200px;
    margin: 0px auto;
    padding: 0px 20px;
}

#services-section .service-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#services-section .services-card {
    padding: 0px 4px;
    text-align: center;
    margin: 5px;
}

#services-section .services-card h3 {
    margin: 4px 4px 7px 4px;
}

#services-section .services-card a {
    color: white;
    text-decoration: none;
    display: inline-block;
    background-color: #6e80ab;
    padding: 7px;
    transition: box-shadow 0.35s,
                transform 0.35s;
}

#services-section .services-card a:hover {
    box-shadow: 1px 1px 12px #00000043;
    transform: translateY(1px);
}

/* FOOTER */

footer {
    background-color: white;
    padding: 20px;
}

#footer-top #logo-footer-container img {
    width: 100px;
}

#footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #6e80ab;
}

#footer-top .icons i {
    color: #8994ae;  
    font-size: 18px;
}

#footer-top .icons a {
    display: inline-block;
    margin: 5px 8px 15px 0px;  
}

#footer-bottom {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

#footer-bottom .card-flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#footer-bottom .card-flex a {
    color: black;
    text-decoration: none;
}

#footer-bottom .card-flex a:hover {
    text-decoration: underline;
    color: #6e80ab;
}

#footer-bottom .card-footer h4 {
    margin: 30px 0px 20px 0px;
}

#footer-bottom .card-footer p.bottom-space {
    margin-top: 10px;
    font-weight: 200;
}

#footer-bottom .card-footer p {
    margin: 0px;
}

/* SERVICES PAGE */

/* PIGMENTATION EYEBROW TECHNIQUES */

#title-page h1 {
    text-align: center;
    font-size: 40px;
}

#title-page h2 {
    text-align: center;
    font-size: 35px;
}

#services {
    max-width: 1600px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#services .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0px 10px;
    background:
        linear-gradient(
            -0deg,
            #b0bee1,
            #8994ae,
            #b0bee1
        );
    border: 1px solid #6e80ab;
}

#services .image-container img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

#services .image-container {
    width: 300px;
    border: 1px solid white;
}

#services .title h4 {
    margin: 10px;
}

#services .title {
    margin-top: 3px;
    font-size: 18px;
}

#services .card p.border-bottom {
    border-bottom: 1px solid #8994ae;
}

#services p {
    font-size: 15px;
    text-align: center;
    margin-top: 0px;
    padding: 10px 10px 20px 10px;
    flex: 1;
}


#services a {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #6e80ab;
    padding: 5px;
    font-size: 12px;
    border: 1px solid white;
    margin-top: 10px;
}

/* EYEBROW COMPARATION TABLE */

.single-column {
    max-width: 1200px;
    margin: 0px auto;
}

#main-section {
    background: #bfc8e0;
    padding: 1px;
    margin-top: 50px;
}

.comparisons-container {
    text-align: center;
    margin: 60px 0px;
}

.comparisons-container h3 {
    font-size: 32px;
}

.comparisons-layout-1 {
    display: flex;
    justify-content: center;
}

.comparisons-layout-1 .comparison-column {
    background-color: #bfc8e0;
    padding: 5px;
    margin: 5px;
}

#main-section .comparison-column p {
    font-size: 15px;
    padding: 5px
}

.comparisons-layout-1 .comparison-column h4 {
    background-color: #6e80ab;
    color: white;
    font-size: 24px;
    margin: 0px;
    font-size: 20px;
    padding: 0px 20px;
}

.comparisons-layout-1 .comparison-column p {
    font-size: 18px;
    margin: 0px;
    border-top: 1px solid #6e80ab;
}

.comparisons-layout-1 .comparison-column .label {
    display: block;
    font-weight: bold;
    padding-bottom: 12px;
}

/****************************************************************************
  Media Query - Mobile Breakpoint
****************************************************************************/

@media screen and (max-width: 1200px) {
    #navbar #top {
        flex-direction: column;
        padding: 10px;
    }

    #navbar #top #nav-top-content {
        margin-bottom: 10px;
        font-size: 12px;
    }

    #navbar #navbar-selection {
        flex-direction: column;
        width: 0px;
    }
    
    #navbar #middle #navbar-selection a {
        background-color: #6e80ab;
        padding: 5px;
        color: white;
        width: 1000vh;
        margin: 1px;
    }

    #navbar #middle #navbar-selection a:hover {
        color: #8f1739;
        background-color: white;
        text-decoration: none;
    }
    
}