* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 20px 10px;
    background-color: rgb(196, 170, 22);
}

#nav a {
    color: rgb(59, 46, 46);
    text-decoration: none;
    padding-left: 20px;
}